*~
.tmp_*
/library/ZendX
/library/Zend
/logs/*
/application/configs/application.ini
/application/configs/routes.*
/application/layouts/scripts/frontend.phtml
/public/skins/frontend/
/public/upload/*
/public/_data/frontend/
/tests/log/report

/library/NewClassic
application/modules/admin/views/scripts/nc*
application/modules/admin/views/scripts/partials/newclassic
application/modules/admin/controllers/Nc*
application/modules/frontend
application/modules/admin/views/scripts/global/header.phtml
/tests/library/NewClassic

/library/Totallsocks
application/modules/admin/views/scripts/ts*
application/modules/admin/controllers/Ts*
/tests/library/Totallsocks
